// Theming specific to the electron app

.menubar-menu-container {
    box-shadow: 0.5px 1px 4px 0px rgba(0, 0, 0, 0.3) !important;
}

.menubar-menu-container>* {
    box-shadow: none !important;
}

.menubar-menu-container .action-menu-item,
.menubar-menu-container .action-label {
    cursor: default
}

.menubar-menu-container a:hover {
    text-decoration: none;
}